{% extends "base.html" %}
{% load static %}

		{% block content %}

	
			<div class="grid grid--margin mb0">
				<div class="grid__row">
					<div class="grid__col grid__col--12 grid__col--margin grid__col--padding bg-white gradient-blue">
							<div class="d-flex align-c">
								<div class="info-nr info-nr--strong color-white"  >Total Energy <span id="total_kw">{{energy_used}} kWh</span> </div>
								<div class="info-details color-white">
									<p>(USAGE MONTH)</p>
								</div>
							</div>
						</div>
						<!-- <div class="grid__col grid__col--12 grid__col--margin grid__col--padding bg-white gradient-pop">
							<div class="grid__row justify-sb">
								<div class="grid__col grid__col--mb-12">
									<h3 class="grid__col-title">Peak Power</h3>
									<span class="grid__col-subtitle">LAST MONTH</span>
								</div>
							</div>
							<div class="d-flex align-c">
								<div class="info-nr info-nr--strong gradient-pink gradient-text">48</div>
								<div class="info-details">
								<p>kwh</p>
								</div>
							</div>
						</div> -->
						<div class="grid__col grid__col--12 grid__col--margin grid__col--padding bg-white gradient-pop" id="dash-second" style="
														display: flex;
													">
							<div class="grid__row justify-sb" style="
														flex: 2;
													">
								<div class="grid__col grid__col--mb-12" style="
														text-align: center;
													">
									<h3 class="grid__col-title">Max. Demand</h3>
									<span class="grid__col-subtitle">THIS MONTH</span>
									<div class="info-nr info-nr--strong blue_text" id="peak_kw">{{peak_kw}}</div>
									<div class="info-details">
										<p style="
														text-align: center;
													">kW</p>
									</div>
								</div>
							</div>
							<div class="grid__col grid__col--mb-12" style="
														text-align: center;
													">
								<h3 class="grid__col-title">Min. Demand</h3>
								<span class="grid__col-subtitle">THIS MONTH</span>
								<div class="info-nr info-nr--strong blue_text" id="min_kw">{{min_kw}}</div>
								<div class="info-details">
									<p style="
														text-align: center;
													">kW</p>
								</div>
							</div>
							<div class="grid__col grid__col--mb-12" style="
														text-align: center;
													">
								<h3 class="grid__col-title">Avg. Demand</h3>
								<span class="grid__col-subtitle">THIS MONTH</span>
								<div class="info-nr info-nr--strong blue_text" id="avg_kw">{{avg_kw}}</div>
								<div class="info-details">
									<p style="
														text-align: center;
													">kW</p>
								</div>
							</div>
						</div>
				</div>
			</div>
			<!-- End of Grid -->

			<div class="grid grid--margin mb0">
				<div class="grid__row">
					<div class="grid__col grid__col--24 grid__col--margin grid__col--padding bg-white">
						<canvas id="ActivityChart" width="100%" height="40px !important"></canvas>
					</div>
					
					<div class="grid__col grid__col--26 grid__col--margin grid__col--padding bg-white">
						<canvas id="DiseasesChart" width="100%" height="60px !important"></canvas>
					</div>
					<div class="grid__col grid__col--16 grid__col--margin grid__col--padding bg-gray10" style="display: flex; flex-direction: column">
							<div class="grid__col grid__col--13 grid__col--margin grid__col-- bg-gray10 mb0">
									<div class="d-flex align-c">
											<div class="blue_text smaller_text" style="font-size: 15px; text-align: center; margin-bottom: 5px; ">Today Usage(kWh)</div>
									</div>
									<div class="d-flex align-c">
										
										<div class="blue_text smaller_text" style="font-size: 38px;" ><span id="today_usage">0000</span>&nbsp;</div>
										<div class="info-details">
										<p ><img class="arrow_up" id="increase_today"  src="{% static 'images/arrow-up.svg' %}" alt="increase" srcset=""></p>

										<p><img class="arrow_up" id="decrease_today" src="{% static 'images/arrow-down.svg' %}" alt="" srcset=""></p>
										</div>
									</div>
								
									<div class="d-flex align-c">
											<div class="blue_text smaller_text" style="font-size: 15px; text-align: center;  margin: 20px 0px 10px; ">Yesterday(kWh)</div>
									</div>
									<div class="d-flex align-c">
											<div class="blue_text smaller_text" style="font-size: 38px;"><span id="yesterday_usage">0000</span>&nbsp;</div>
											<div class="info-details">
												<p><img class="arrow_up" id="increase_yesterday"  src="{% static 'images/arrow-up.svg' %}" alt="increase" srcset=""></p>

												<p><img class="arrow_up" id="decrease_yesterday" src="{% static 'images/arrow-down.svg' %}" alt="" srcset=""></p>
												</div>
											</div>
										</div>
								</div>
							</div>
					</div>
				</div>
				<!-- <div class="grid__col  grid__col--padding bg-white mt20">
					<div class="table table--18">
						<div class="table__header">
							<div class="table__row">
								<div class="table__cell"></div>
								<div class="table__cell">TIME</div>
								<div class="table__cell">L1-VOLT</div>
								<div class="table__cell">L2-VOLT</div>
								<div class="table__cell">L3-VOLT</div>
								<div class="table__cell">L1-CURRENT</div>
								<div class="table__cell">L2-CURENT</div>
								<div class="table__cell">L3-CURENT</div>
								<div class="table__cell">RUNNING ON</div>
								<div class="table__cell"></div>
							</div>
						</div>
						<div class="table__body">
							<div class="table__row">
								<div class="table__cell"><div class="avatar-thumb"></div></div>
								<div class="table__cell">13-05-2019 12pm</div>
								<div class="table__cell">240V</div>
								<div class="table__cell">230V</div>
								<div class="table__cell">220V</div>
								<div class="table__cell">60A</div>
								<div class="table__cell">60A</div>
								<div class="table__cell">60A</div>
								<div class="table__cell">GEN</div>
								<div class="table__cell"></div>
								
								
							</div>
							<div class="table__row">
									<div class="table__cell"><div class="avatar-thumb"></div></div>
									<div class="table__cell">13-05-2019 12pm</div>
									
									<div class="table__cell">240V</div>
									<div class="table__cell">230V</div>
									<div class="table__cell">220V</div>
									<div class="table__cell">60A</div>
									<div class="table__cell">60A</div>
									<div class="table__cell">60A</div>
									<div class="table__cell">PHCN</div>
									<div class="table__cell"></div>
								</div>
								
								<div class="table__row">
									<div class="table__cell"><div class="avatar-thumb"></div></div>
									<div class="table__cell">13-05-2019 12pm</div>

									<div class="table__cell">240V</div>
									<div class="table__cell">230V</div>
									<div class="table__cell">220V</div>
									<div class="table__cell">60A</div>
									<div class="table__cell">60A</div>
									<div class="table__cell">60A</div>
									<div class="table__cell">PHCN</div>
									<div class="table__cell"></div>
								</div>
								<div class="table__row">
								<div class="table__cell"></div>
								<div class="table__cell"></div>
								<div class="table__cell"></div>
								<div class="table__cell"></div>
								<div class="table__cell"></div>
								<div class="table__cell"></div>
								<div class="table__cell"></div>
								
								<div class="table__cell">
									<span ></span>
									<nav class="dropdown-menu dropdown-menu--content dropdown-menu--table" > 			
										<ul>
											<li><a href=""></a></li>
											<li><a href="#"></a></li>
											<li><a href="#"></a></li>
										</ul>
									</nav>
								</div>
							</div>

						</div>
						
					</div>
				</div> -->
				<!-- TABLE end -->
			</div>
			<!-- End of Grid -->
			<!-- CORRESPONDING JAVASCRIPT FOR PAGE'S CHARTS -->
			<script src="{% static 'js/Chart.min.js' %}"></script>
			<script src="{% static 'js/chartjs-plugin-style.min.js' %}"></script>
			<script src="{% static 'js/charts-custom-charts.js' %}"></script>
		{% endblock %}
