{% extends "base.html" %}
{% load static %}

		{% block content %}

		<input hidden id="customer_id" value="{{edit_customer.id}}" type="number">

		<div class="grid grid--margin bg-white">	
			<div class="grid__row">
				<div class="grid__col grid__col--padding">
					<h3 class="grid__col-title">Edit Customer Profile</h3>
			
				</div>		
			</div>	
			<form>
			<div class="grid__row grid__row--margin">
				
				<div class="grid__col grid__col--13 grid__col--margin">
					<div style="background-image: url({% if customer.image %}{{edit_customer.image.url}}{% endif %});" class="form-upload" id="dropzone">
						<!-- Dropzone not clickable here because javascript has been turned off for it (bottom of page) -->
						<div class="form-upload__message dz-message needsclick">CLICK TO CHANGE</div>
						
						<!-- Image Displayed Here -->
						<img class="form-upload__message dz-message needsclick">
					</div>
				</div>
				<input hidden id="image" type="file" src="" alt="">
				
				<div class="grid__col grid__col--13 grid__col--margin">
					<div class="grid__row">  
						<div class="grid__col grid__col--margin">
							<label class="form__label">COMPANY NAME *</label>
							<input value="{{edit_customer.company_name}}" name="fname" id="fname" class="form__input required" type="text" />	
						</div>
					</div>
					<div class="grid__row">
						<div class="grid__col grid__col--margin">
								<label class="form__label">COMPANY ADDRESS *</label>
								<input  value="{{edit_customer.address}}"  id="address" class=" form__input required" type="text" />
						</div>
					</div>
					<div class="grid__row">
						<div class="grid__col grid__col--margin">
								<label class="form__label">USERNAME (FOR LOGIN) *</label>
								<input  value="{{edit_customer.user.username}}"  id="username" class=" form__input required" type="username" />
						</div>
					</div>
					<div class="grid__row">
						<div class="grid__col grid__col--margin">
							<label class="form__label">PHONE *</label>
							<input id="phone" value="{{edit_customer.phone}}" class="form__input required" type="tel" />	
						</div>
					</div>
					
					
					<div class="grid__row grid__row--margin">
						<div class="grid__col grid__col--margin">
							<input type="button" class="button button--submit button--blue-bg" id="new-branch-button"  value="UPDATE DETAILS" style="margin:auto;" />					
						</div>
					</div>
					
				</div>
				
				
				      
			</div>
			
			
			</form>
			

		</div> <!-- End of Grid -->

		<div class="grid grid--margin bg-white branch-sectionp-container">
				
			<div id="branches-wrapper">
					<div class="branch-object" id="first-branch">
						<hr style="border: none; border-top: 1px solid #e5e7ee; margin: 0px 0px 15px;">
						
						
							<div class="grid__row grid__row--margin">
								<div class="grid__col grid__col--37 grid__col--margin">
									<label class="form__label">ENTER OLD PASSWORD</label>
									<input id ="old_password" placeholder="********" value=""  class="form__input" type="password" />
								</div>
								<div class="grid__col grid__col--37 grid__col--margin">
									<label class="form__label">ENTER NEW PASSWORD</label>
									<input id ="new_password" placeholder="********" value=""  class="form__input" type="password" />
								</div>
								<div class="grid__col grid__col--37 grid__col--margin">
									<label class="form__label">RE-ENTER PASSWORD</label>
									<input id ="retype_password" placeholder="********" value=""  class="form__input" type="password" />
								</div>
								<div class="grid__col grid__col--37 grid__col--margin">
									<label class="form__label">&nbsp;</label>
									<input type="button" class="button button--submit button--blue-bg" id="password_button"  value="UPDATE PASSWORD" style="margin:auto;" />					
								</div>
							</div>
						
					</div>
				</div>
			
		</div> <!-- End of Grid -->
		
		<div id="new_branch_target" class="grid grid--margin bg-white branch-sectionp-container">
			
			<div class="grid__row">
				<div class="grid__col grid__col--padding">
					<h3  style="margin-bottom: 0px !important;" class="grid__col-title">
						Branches
						<span title="Click to add branch.">
						<svg  id="new_branch" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" style="margin-left: 10px;" width="22px" height="22px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve"><g><g>
								<g id="add-circle-outline">
									<path d="M280.5,127.5h-51v102h-102v51h102v102h51v-102h102v-51h-102V127.5z M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255    s255-114.75,255-255S395.25,0,255,0z M255,459c-112.2,0-204-91.8-204-204S142.8,51,255,51s204,91.8,204,204S367.2,459,255,459z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#8f6ef2"/>
								</g>
							</g></g> 
						</svg>
					</span>
						
						
					</h3>
					
					<!-- <p>Enter details about all your branches here</p> -->
				</div>		
			</div>
			
		</div> <!-- End of Grid -->

			{% for branch in edit_branches %}
					
			<div class="grid grid--margin bg-white branch-sectionp-container">
				
				<div id="branches-wrapper">
						<div class="branch-object" id="">
							<hr style="border: none; border-top: 1px solid #e5e7ee; margin: 0px 0px 15px;">
						<form class="branch" data-branch ="{{branch.id}}" id="branch-{{branch.id}}" action="">
							<div class="grid__row grid__row--margin">
								<div class="grid__col grid__col--37 grid__col--margin">
									<label class="form__label">BRANCH NAME</label>
									<input value="{{branch.name}}"  class="form__input" type="text" />
								</div>
								<div class="grid__col grid__col--37 grid__col--margin">
									<label class="form__label">BRANCH ADDRESS</label>
									<input value="{{branch.address}}"  class="form__input" type="text" />
								</div>
							</div>
							<div class="grid__row grid__row--margin">
								<div class="grid__col grid__col--37 grid__col--margin">
									<label class="form__label">GENERATOR 1 SIZE (KVA)</label>
									<input value="{{branch.gen1_val}}"  class="form__input" type="text" />
								</div>
								<div class="grid__col grid__col--37 grid__col--margin">
									<label class="form__label">GENERATOR 2 SIZE (KVA)</label>
									<input value="{{branch.gen2_val}}"  class="form__input" type="text" />
								</div>
							</div>
							<div class="grid__row grid__row--margin">
								<div class="grid__col grid__col--margin">
									<input type="submit" class="branch-btn button button--submit button--blue-bg"  value="UPDATE BRANCH" style="margin:auto;" />					
								</div>
							</div>
						</form>

							<div class="grid__row" >
								<div  class="grid__col grid__col--padding" style="padding: 0 25px;">
									<p class="form__label branch-number" style="padding-bottom: 15px;"><a  data-branch ="{{branch.id}}" class="add_device" href="">ADD NEW DEVICE</a>  
										<span class="form__label branch-number"></span> </p>
								</div>		
							</div>
						

						{% for device in branch.get_devices %}
							<form class="device" data-device ="{{device.id}}" id="device-{{device.id}}" action="">
								<div class="grid__row grid__row--margin">
									<div class="grid__col grid__col--37 grid__col--margin">
										<label class="form__label">DEVICE NAME</label>
										<input value="{{device.name}}"  class="form__input" type="text" />
									</div>
									<div class="grid__col grid__col--37 grid__col--margin">
										<label class="form__label">DEVICE ID</label>
										<input value="{{device.device_id}}"  class="form__input" type="text" />
									</div>
									<div class="grid__col grid__col--37 grid__col--margin">
										<label class="form__label">LOCATION</label>
										<input value="{{device.location.name}}"  class="form__input" type="text" />
									</div>
									<div class="grid__col grid__col--37 grid__col--margin">
										<label class="form__label">DATE ADDED</label>
										<input value="{{device.added}}"  class="form__input" type="text" />
									</div>
								</div>
								<div class="grid__row grid__row--margin">
									<div class="grid__col grid__col--margin">
										<input  type="submit" class="device button button--submit button--blue-bg"  value="UPDATE DEVICE" style="margin:auto;" />					
									</div>
								</div>
							</form>
						{% endfor %}
						</div>
					</div>
					
				
			</div> <!-- End of Grid -->
			
			{% endfor %}

		{% endblock %}
